<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0">
    <title>Truelysell | Template</title>

    <!-- Favicons -->
    <link rel="shortcut icon" href="assets/img/sub-category/DAKI BOOK.png">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="assets/plugins/bootstrap/css/bootstrap.min.css">

    <!-- Fontawesome CSS -->
    <link rel="stylesheet" href="assets/plugins/fontawesome/css/fontawesome.min.css">
    <link rel="stylesheet" href="assets/plugins/fontawesome/css/all.min.css">

    <!-- Animate CSS -->
    <link rel="stylesheet" href="assets/css/animate.min.css">

    <!-- Main CSS -->
    <link rel="stylesheet" href="assets/css/admin.css">

</head>

<body>
<div class="main-wrapper">

    <!-- Header -->
    <div class="header">
        <div class="header-left">
            <a href="index.html" class="logo logo-small">
                <img src="assets/img/logo-icon.png" alt="Logo" width="30" height="30">
            </a>
        </div>
        <a href="javascript:void(0);" id="toggle_btn">
            <i class="fas fa-align-left"></i>
        </a>
        <a class="mobile_btn" id="mobile_btn" href="javascript:void(0);">
            <i class="fas fa-align-left"></i>
        </a>

        <ul class="nav user-menu">
            <!-- Notifications -->
            <li class="nav-item dropdown noti-dropdown">
                <a href="#" class="dropdown-toggle nav-link" data-toggle="dropdown">
                    <i class="far fa-bell"></i> <span class="badge badge-pill"></span>
                </a>
                <div class="dropdown-menu dropdown-menu-right notifications">
                    <div class="topnav-dropdown-header">
                        <span class="notification-title">Notifications</span>
                        <a href="javascript:void(0)" class="clear-noti"> Clear All </a>
                    </div>
                    <div class="noti-content">
                        <ul class="notification-list">
                            <li class="notification-message">
                                <a href="admin-notification.html">
                                    <div class="media">
											<span class="avatar avatar-sm">
												<img class="avatar-img rounded-circle" alt=""
                                                     src="assets/img/provider/provider-01.jpg">
											</span>
                                        <div class="media-body">
                                            <p class="noti-details">
                                                <span class="noti-title">Thomas Herzberg have been subscribed</span>
                                            </p>
                                            <p class="noti-time">
                                                <span class="notification-time">15 Sep 2020 10:20 PM</span>
                                            </p>
                                        </div>
                                    </div>
                                </a>
                            </li>
                            <li class="notification-message">
                                <a href="admin-notification.html">
                                    <div class="media">
											<span class="avatar avatar-sm">
												<img class="avatar-img rounded-circle" alt=""
                                                     src="assets/img/provider/provider-02.jpg">
											</span>
                                        <div class="media-body">
                                            <p class="noti-details">
                                                <span class="noti-title">Matthew Garcia have been subscribed</span>
                                            </p>
                                            <p class="noti-time">
                                                <span class="notification-time">13 Sep 2020 03:56 AM</span>
                                            </p>
                                        </div>
                                    </div>
                                </a>
                            </li>
                            <li class="notification-message">
                                <a href="admin-notification.html">
                                    <div class="media">
											<span class="avatar avatar-sm">
												<img class="avatar-img rounded-circle" alt=""
                                                     src="assets/img/provider/provider-03.jpg">
											</span>
                                        <div class="media-body">
                                            <p class="noti-details">
                                                <span class="noti-title">Yolanda Potter have been subscribed</span>
                                            </p>
                                            <p class="noti-time">
                                                <span class="notification-time">12 Sep 2020 09:25 PM</span>
                                            </p>
                                        </div>
                                    </div>
                                </a>
                            </li>
                            <li class="notification-message">
                                <a href="admin-notification.html">
                                    <div class="media">
											<span class="avatar avatar-sm">
												<img class="avatar-img rounded-circle" alt="User Image"
                                                     src="assets/img/provider/provider-04.jpg">
											</span>
                                        <div class="media-body">
                                            <p class="noti-details">
                                                <span class="noti-title">Ricardo Flemings have been subscribed</span>
                                            </p>
                                            <p class="noti-time">
                                                <span class="notification-time">11 Sep 2020 06:36 PM</span>
                                            </p>
                                        </div>
                                    </div>
                                </a>
                            </li>
                            <li class="notification-message">
                                <a href="admin-notification.html">
                                    <div class="media">
											<span class="avatar avatar-sm">
												<img class="avatar-img rounded-circle" alt="User Image"
                                                     src="assets/img/provider/provider-05.jpg">
											</span>
                                        <div class="media-body">
                                            <p class="noti-details">
                                                <span class="noti-title">Maritza Wasson have been subscribed</span>
                                            </p>
                                            <p class="noti-time">
                                                <span class="notification-time">10 Sep 2020 08:42 AM</span>
                                            </p>
                                        </div>
                                    </div>
                                </a>
                            </li>
                            <li class="notification-message">
                                <a href="admin-notification.html">
                                    <div class="media">
											<span class="avatar avatar-sm">
												<img class="avatar-img rounded-circle" alt="User Image"
                                                     src="assets/img/provider/provider-06.jpg">
											</span>
                                        <div class="media-body">
                                            <p class="noti-details">
                                                <span class="noti-title">Marya Ruiz have been subscribed</span>
                                            </p>
                                            <p class="noti-time">
                                                <span class="notification-time">9 Sep 2020 11:01 AM</span>
                                            </p>
                                        </div>
                                    </div>
                                </a>
                            </li>
                            <li class="notification-message">
                                <a href="admin-notification.html">
                                    <div class="media">
											<span class="avatar avatar-sm">
												<img class="avatar-img rounded-circle" alt="User Image"
                                                     src="assets/img/provider/provider-07.jpg">
											</span>
                                        <div class="media-body">
                                            <p class="noti-details">
                                                <span class="noti-title">Richard Hughes have been subscribed</span>
                                            </p>
                                            <p class="noti-time">
                                                <span class="notification-time">8 Sep 2020 06:23 AM</span>
                                            </p>
                                        </div>
                                    </div>
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="topnav-dropdown-footer">
                        <a href="admin-notification.html">View all Notifications</a>
                    </div>
                </div>
            </li>
            <!-- /Notifications -->

            <!-- User Menu -->
            <li class="nav-item dropdown">
                <a href="javascript:void(0)" class="dropdown-toggle user-link  nav-link" data-toggle="dropdown">
						<span class="user-img">
							<img class="rounded-circle" src="assets/img/user.jpg" width="40" alt="Admin">
						</span>
                </a>
                <div class="dropdown-menu dropdown-menu-right">
                    <a class="dropdown-item" href="admin-profile.html">Profile</a>
                    <a class="dropdown-item" href="login.html">Logout</a>
                </div>
            </li>
            <!-- /User Menu -->

        </ul>
    </div>
    <!-- /Header -->

    <!-- Sidebar -->
    <div class="sidebar" id="sidebar">
        <div class="sidebar-logo">
            <a href="index.html">
                <img src="assets/img/sub-category/DAKI BOOK.png" class="img-fluid" alt="">
            </a>
        </div>
        <div class="sidebar-inner slimscroll">
            <div id="sidebar-menu" class="sidebar-menu">
                <ul>
                    <li class="active">
                        <a href="index.html"><i class="fas fa-columns"></i> <span>Dashboard</span></a>
                    </li>

                    <li class="submenu">
                        <a href="#"><i class="fab fa-wpforms"></i> <span>Quản Lý Sách</span> <span
                                class="menu-arrow"></span></a>
                        <ul style="display: none;">
                            <li><a href="categories.html">Thể Loại Sách</a></li>
                            <li><a href="subcategories.html">Danh Mục Sách</a></li>
                            <li><a href="service-list.html">Hoạt Động</a></li>
                        </ul>
                    </li>


                    <li class="submenu">
                        <a href="#"><i class="far fa-calendar-check"></i> <span>Quản Lý Đơn Hàng</span> <span
                                class="menu-arrow"></span></a>
                        <ul style="display: none;">
                            <li><a href="total-report.html">Quản Lý Đơn Hàng</a></li>
                        </ul>
                    </li>


                    <li class="submenu">
                        <a href="#"><i class="fas fa-users"></i> <span>Quản Lý Người Dùng</span> <span
                                class="menu-arrow"></span></a>
                        <ul style="display: none;">
                            <li><a href="users.html">Tài Khoản Người Dùng</a></li>
                        </ul>
                    </li>

                    <li class="submenu">
                        <a href="#"><i class="fas fa-users"></i> <span>Quản Lý Tác Giả</span> <span
                                class="menu-arrow"></span></a>
                        <ul style="display: none;">
                            <li><a href="author.html">Thông Tin Tác Giả</a></li>
                        </ul>
                    </li>


                    <li class="submenu">
                        <a href="#"><i class="fas fa-wallet"></i> <span>Quản Lý Doanh Thu</span> <span
                                class="menu-arrow"></span></a>
                        <ul style="display: none;">
                            <li><a href="total-finance.html">Thống Kê Doanh Thu</a></li>
                        </ul>
                    </li>

                    <li>
                        <a href="subscriptions.html"><i class="fas fa-table"></i> <span>Các Loại Vận Chuyển</span></a>
                    </li>

                    <li class="menu-title">
                        <span>Pages</span>
                    </li>
                    <li>
                        <a href="admin-profile.html"><i class="fas fa-user-plus"></i> <span>Thông Tin Cá Nhân</span></a>
                    </li>
                    <li class="submenu">
                        <a href="#"><i class="fas fa-user-lock"></i> <span>Xác Thực</span> <span
                                class="menu-arrow"></span></a>
                        <ul style="display: none;">
                            <li><a href="login.html">Đăng Nhập</a></li>
                            <li><a href="register.html">Đăng Ký</a></li>
                            <li><a href="forgot-password.html">Quên Mật Khẩu</a></li>
                            <li><a href="lock-screen.html"> Lock Screen </a></li>
                        </ul>
                    </li>
                    <li class="submenu">
                        <a href="#"><i class="fas fa-exclamation-circle"></i> <span>Lỗi Trang</span> <span
                                class="menu-arrow"></span></a>
                        <ul style="display: none;">
                            <li><a href="error-404.html">404 Error </a></li>
                            <li><a href="error-500.html">500 Error </a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <!-- /Sidebar -->

    <div class="page-wrapper">
        <div class="content container-fluid">

            <!-- Page Header -->
            <div class="page-header">
                <div class="row">
                    <div class="col-12">
                        <h3 class="page-title">Xin Chào Admin!</h3>
                    </div>
                </div>
            </div>
            <!-- /Page Header -->

            <div class="row">
                <div class="col-xl-3 col-sm-6 col-12">
                    <div class="card">
                        <div class="card-body">
                            <div class="dash-widget-header">
									<span class="dash-widget-icon bg-primary">
										<i class="far fa-user"></i>
									</span>
                                <div class="dash-widget-info">
                                    <h3>429</h3>
                                    <h6 class="text-muted">Tổng khách hàng</h6>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-sm-6 col-12">
                    <div class="card">
                        <div class="card-body">
                            <div class="dash-widget-header">
									<span class="dash-widget-icon bg-primary">
										<i class="fas fa-user-shield"></i>
									</span>
                                <div class="dash-widget-info">
                                    <h3>148</h3>
                                    <h6 class="text-muted">Tổng đơn hàng</h6>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-sm-6 col-12">
                    <div class="card">
                        <div class="card-body">
                            <div class="dash-widget-header">
									<span class="dash-widget-icon bg-primary">
										<i class="fas fa-qrcode"></i>
									</span>
                                <div class="dash-widget-info">
                                    <h3>124</h3>
                                    <h6 class="text-muted">Tổng số sách</h6>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-sm-6 col-12">
                    <div class="card">
                        <div class="card-body">
                            <div class="dash-widget-header">
									<span class="dash-widget-icon bg-primary">
										<i class="far fa-credit-card"></i>
									</span>
                                <div class="dash-widget-info">
                                    <h3>50.000vnđ</h3>
                                    <h6 class="text-muted">Tổng doanh thu</h6>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- /Recent Bookings -->

    </div>
    <div class="col-md-6 d-flex">

        <!-- Payments -->
        <div class="card card-table flex-fill">
            <div class="card-header">
                <h4 class="card-title">Sách đã thanh toán</h4>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-center">
                        <thead>
                        <tr>
                            <th>Thời gian</th>
                            <th>Khách hàng</th>
                            <th>Tên sách</th>
                            <th>Số lượng</th>
                            <th>Trạng thái</th>
                        </tr>
                        </thead>
                        <tbody>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <!-- Payments -->

    </div>
</div>
</div>
</div>
</div>

<!-- jQuery -->
<script src="assets/js/jquery-3.5.0.min.js"></script>

<!-- Bootstrap Core JS -->
<script src="assets/js/popper.min.js"></script>
<script src="assets/plugins/bootstrap/js/bootstrap.min.js"></script>

<!-- Slimscroll JS -->
<script src="assets/plugins/slimscroll/jquery.slimscroll.min.js"></script>

<!-- Custom JS -->
<script src="assets/js/admin.js"></script>

</body>

</html>